# Copyright (c) [2019- 2025] [Microchip Technology Inc.]
# SPDX-License-Identifier: Apache-2.0

config HAS_MEC_HAL
	bool "Microchip MEC HAL drivers support"

config HAS_MPFS_HAL
	bool "Microchip MPFS HAL drivers support"

config HAS_MEC5_HAL
	bool "Microchip MEC5 HAL drivers support"

config HAS_MCHP_HAL_DFP
	bool "Microchip HAL Device Family Pack support"

config HAS_MCHP_HAL_INCLUDE
	bool "Microchip HAL include files support"

config HAS_MCHP_HAL_PERIPHERALS
	bool "Microchip HAL peripheral drivers support"
