/*
 * Copyright (c) 2026 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <microchip/sam/sam_d5x_e5x/atsame51/atsame51j20a.dtsi>
#include "pykit_ruler-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "PyKIT Ruler";
	compatible = "pykit,ruler", "microchip,atsame51j20a", "microchip,same51";

	chosen {
		zephyr,console = &sercom5;
		zephyr,shell-uart = &sercom5;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &boot_partition;
		zephyr,flash-controller = &nvmctrl;
	};

	aliases {
		led0 = &led0;
		sw0 = &user_btn;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&portb 23 GPIO_ACTIVE_LOW>;
			label = "LED_D6";
		};
	};

	buttons {
		compatible = "gpio-keys";

		user_btn: user-btn {
			gpios = <&porta 27 (GPIO_ACTIVE_LOW)>;
			label = "USER_SW";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};

&flash0 {
	partitions {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		boot_partition: partition@0 {
			compatible = "zephyr,mapped-partition";
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;  /* 64 KB bootloader */
			read-only;
		};

		slot0_partition: partition@10000 {
			compatible = "zephyr,mapped-partition";
			label = "image-0";
			reg = <0x00010000 0x00070000>;  /* 448 KB primary app slot */
		};

		slot1_partition: partition@80000 {
			compatible = "zephyr,mapped-partition";
			label = "image-1";
			reg = <0x00080000 0x00070000>;  /* 448 KB secondary app slot */
		};

		storage_partition: partition@f0000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0x000f0000 0x00010000>;  /* 64 KB storage area */
		};
	};
};

&cpu0 {
	clock-frequency = <120000000>;
};

&clock {
	compatible = "microchip,sam-d5x-e5x-clock";

	xosc: xosc {
		compatible = "microchip,sam-d5x-e5x-xosc";

		xosc1 {
			subsystem = <CLOCK_MCHP_XOSC_ID_XOSC1>;
			xosc-frequency = <12000000>;
			xosc-en = <0>;
			xosc-xtal-en = <0>;
			xosc-run-in-standby-en = <0>;
		};
	};

	dfll: dfll {
		compatible = "microchip,sam-d5x-e5x-dfll";
		dfll-en = <0>;
	};

	fdpll: fdpll {
		compatible = "microchip,sam-d5x-e5x-fdpll";

		fdpll0 {
			subsystem = <CLOCK_MCHP_FDPLL_ID_FDPLL0>;
			fdpll-divider-ratio-int = <3662>;
			fdpll-lock-bypass-en = <1>;
			fdpll-wakeup-fast-en = <1>;
			fdpll-src = "xosc32k";
			fdpll-xosc-clock-divider = <1>;
			fdpll-en = <1>;
		};
	};

	xosc32k: xosc32k {
		compatible = "microchip,sam-d5x-e5x-xosc32k";
		xosc32k-xtal-en = <1>;
		xosc32k-startup-time = <62>;
		xosc32k-gain-mode = "standard";
		xosc32k-en = <1>;
		xosc32k-32khz-en = <1>;
		xosc32k-1khz-en = <1>;
	};

	gclkgen: gclkgen {
		compatible = "microchip,sam-d5x-e5x-gclkgen";

		gclkgen0 {
			subsystem = <CLOCK_MCHP_GCLKGEN_ID_GEN0>;
			gclkgen-div-factor = <1>;
			gclkgen-run-in-standby-en = <1>;
			gclkgen-src = "fdpll0";
			gclkgen-en = <1>;
		};

		gclkgen1 {
			subsystem = <CLOCK_MCHP_GCLKGEN_ID_GEN1>;
			gclkgen-div-factor = <2>;
			gclkgen-src = "fdpll0";
			gclkgen-run-in-standby-en = <1>;
			gclkgen-en = <1>;
		};
	};

	gclkperiph: gclkperiph {
		compatible = "microchip,sam-d5x-e5x-gclkperiph";
		#clock-cells = <1>;

		sercom5 {
			subsystem = <CLOCK_MCHP_GCLKPERIPH_ID_SERCOM5_CORE>;
			gclkperiph-src = "gclk0";
			gclkperiph-en = <1>;
		};
	};

	mclkperiph: mclkperiph {
		compatible = "microchip,sam-d5x-e5x-mclkperiph";
		#clock-cells = <1>;

		sercom5 {
			subsystem = <CLOCK_MCHP_MCLKPERIPH_ID_APBD_SERCOM5>;
			mclk-en = <1>;
		};
	};
};

&sercom5 {
	compatible = "microchip,sercom-g1-uart";
	#address-cells = <1>;
	#size-cells = <0>;
	current-speed = <115200>;
	data-bits = <8>;
	parity = "none";
	stop-bits = "1";
	rxpo = <1>;
	txpo = <0>;
	pinctrl-0 = <&sercom5_uart_default>;
	pinctrl-names = "default";
	dmas = <&dmac 7 0xe>, <&dmac 8 0xf>;
	dma-names = "rx", "tx";
	status = "okay";
};

&porta {
	status = "okay";
};

&portb {
	status = "okay";
};
