/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>
#include <zephyr/dt-bindings/clock/mchp_pic32cx_bz6_clock.h>

/ {
	chosen {
		zephyr,flash-controller = &nvmctrl;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};

	soc {
		clock: clock@44000000 {
			compatible = "microchip,pic32cx-bz6-clock";
			reg =	<
			0x44000000 0x500
			0x44000A00 0x200>;// cfg, cru
			posc: posc {
				compatible = "microchip,pic32cx-bz-posc";
				posc-en = <1>;
			};
			sosc: sosc {
				compatible = "microchip,pic32cx-bz-sosc";
				sosc-en = <1>;
			};
			sysclk: sysclk {
				compatible = "microchip,pic32cx-bz-sysclk";
				sysclk-frc-div = <1>;
				sysclk-new-osc = "spll1";
			};
			pbclk: pbclk {
				compatible = "microchip,pic32cx-bz-pbclk";
				pbclk3 {
					subsystem = <CLOCK_MCHP_PBCLK_ID_3>;
					pbclk-div = <9>;
					pbclk-en = <1>;
				};
			};
			refclk: refclk {
				compatible = "microchip,pic32cx-bz-refclk";
				refclk1 {
					subsystem = <CLOCK_MCHP_REFCLK_ID_1>;
					refclk-src-sel = "spll1";
					refclk-en = <1>;
				};
			};
			gclkperiph: gclkperiph {
				compatible = "microchip,pic32cx-bz-gclkperiph";
				#clock-cells = <1>;
			};
		};

		nvmctrl: nvmctrl@44000600  {
			compatible = "microchip,nvmctrl-g2-flash";
			reg = <0x44000600 0x110>;
			interrupts = <3 6>;
			#address-cells = <1>;
			#size-cells = <1>;

			flash0: flash@1000000 {
				compatible = "soc-nv-flash";
				write-block-size = <8>;
				erase-block-size = <4096>;
				reg = <0x01000000 DT_SIZE_K(2048)>;
			};
		};

		pinctrl: pinctrl@44001000 {
			compatible = "microchip,pps-g1-pinctrl";
			reg = <0x44001000 0x300>;
			#address-cells = <1>;
			status = "okay";
		};
	};

};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
