/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/pic32c/pic32cx_bz/bz62/pic32cx2051bz62132-pinctrl.h>

&pinctrl {
	sercom0_uart_default: sercom0_uart_default {
		group1 {
			pinmux = <PA5_SCOM0P0_OUT>,
			<PA6_SCOM0P1_IN>;
		};
	};

	sercom4_uart_default: sercom4_uart_default {
		group1 {
			pinmux = <PB2_SCOM4P0_OUT>,
			<PA2_SCOM4P2_IN>;
		};
	};

	sercom5_uart_default: sercom5_uart_default {
		group1 {
			pinmux = <PA0_SCOM5P0_OUT>,
			<PA1_SCOM5P3_IN>;
		};
	};

	sercom4_spi_master_socket1: sercom4_spi_master_socket1 {
		group1 {
			pinmux = <PA10_SCOM4P2_OUT>,
			<PE5_SCOM4P1_OUT>,
			<PA4_SCOM4P0_IN>,
			<PA9_SCOM4P3_OUT>;
		};
	};
	sercom4_spi_slave_socket1: sercom4_spi_slave_socket1 {
		group1 {
			pinmux = <PA10_SCOM4P2_IN>,
			<PE5_SCOM4P1_IN>,
			<PA4_SCOM4P0_OUT>,
			<PA9_SCOM4P3_IN>;
		};
	};

	sercom4_spi_master_socket2: sercom4_spi_master_socket2 {
		group1 {
			pinmux = <PB9_SCOM4P2_OUT>,
			<PE5_SCOM4P1_OUT>,
			<PA4_SCOM4P0_IN>,
			<PA9_SCOM4P3_OUT>;
		};
	};

	sercom1_i2c_default: sercom1_i2c_default {
		group1 {
			pinmux = <PIN_DIRECT_MODE>;
		};
	};

	pb4_default: pb4_default{
		group1 {
			pinmux = <PB4_EXTINT0_IN>;
		};
	};
};
