# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

# Symbol for enabling clock driver for a family
config CLOCK_CONTROL_MCHP_SAM_D5X_E5X
	bool
	default y
	depends on DT_HAS_MICROCHIP_SAM_D5X_E5X_CLOCK_ENABLED
	help
	  This symbol define clock driver for Microchip SAM_D5X_E5X family.

# Symbol for enabling clock driver for a family
config CLOCK_CONTROL_MCHP_PIC32CX_BZ2
	bool
	default y
	depends on DT_HAS_MICROCHIP_PIC32CX_BZ2_CLOCK_ENABLED
	help
	  This symbol define clock driver for Microchip PIC32CX_BZ2 family.

# Symbol for enabling clock driver for a family
config CLOCK_CONTROL_MCHP_PIC32CX_BZ6
	bool
	default y
	depends on DT_HAS_MICROCHIP_PIC32CX_BZ6_CLOCK_ENABLED
	help
	  This symbol define clock driver for Microchip PIC32CX_BZ6 family.

# Define menu symbol for configuring clock features
menuconfig CLOCK_CONTROL_MCHP
	bool "Microchip clock controller driver"
	default y
	depends on CLOCK_CONTROL_MCHP_SAM_D5X_E5X || CLOCK_CONTROL_MCHP_PIC32CX_BZ2 || CLOCK_CONTROL_MCHP_PIC32CX_BZ6
	help
	  Enable support for Microchip clock controller driver.

# Common features for all SOC families
if CLOCK_CONTROL_MCHP

config CLOCK_CONTROL_MCHP_CONFIG_BOOTUP
	bool "Bootup clock configuration"
	default y
	help
	  This option enables bootup clock configuration from device tree node.

config CLOCK_CONTROL_MCHP_CONFIG_RUNTIME
	bool "Runtime clock configuration"
	default y
	help
	  This option enables runtime clock configuration using API.

config CLOCK_CONTROL_MCHP_ASYNC_ON
	bool "Async clock on"
	default n
	help
	  This option enables async on API.

# Enable get rate API. Since, clock rate for multiple levels of clock sources are to be
# calculated, this feature consumes some program size, and can be optional.
config CLOCK_CONTROL_MCHP_GET_RATE
	bool "Get clock rate"
	default y
	help
	  This option enables get rate API.

config CLOCK_CONTROL_MCHP_SET_RATE
	bool "Set clock rate"
	default n
	depends on CLOCK_CONTROL_MCHP_GET_RATE
	help
	  This option enables set rate API.

endif # CLOCK_CONTROL_MCHP
