#Copyright (c) 2025 Microchip Technology Inc.
#SPDX-License-Identifier: Apache-2.0

config RTC_MCHP_U2250
	bool "MCHP RTC driver for RTC_U2500 IP"
	default y
	depends on DT_HAS_MICROCHIP_RTC_U2250_ENABLED
	help
		Enable the Microchip Real-Time Clock (RTC) driver.
		This driver supports Microchip device families:
		- SOC_FAMILY_MCHP_SAM_D5X_E5X
