/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>
#include <zephyr/dt-bindings/clock/mchp_sam_d5x_e5x_clock.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;

			mpu: mpu@e000ed90 {
				compatible = "arm,armv7m-mpu";
				reg = <0xe000ed90 0x2c>;
			};
		};
	};

	soc {
		flash0: flash@0 {
			compatible = "soc-nv-flash";
			write-block-size = <8>;
		};

		sram0: memory@20000000 {
			compatible = "mmio-sram";
		};

		clock: clock@40000800 {
			compatible = "microchip,sam-d5x-e5x-clock";
			reg = <0x40000800 0x24>, <0x40001000 0x58>,
			      <0x40001400 0x20>, <0x40001c00 0x140>;
			reg-names = "mclk", "oscctrl",
				    "osc32kctrl", "gclk";
			interrupts = <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>;

			xosc: xosc {
				compatible = "microchip,sam-d5x-e5x-xosc";
				xosc1 {
					subsystem = <CLOCK_MCHP_XOSC_ID_XOSC1>;
					xosc_frequency = <12000000>;
					xosc_en = <1>;
					xosc_xtal_en = <1>;
					xosc_run_in_standby_en = <1>;
				};
			};

			dfll: dfll {
				compatible = "microchip,sam-d5x-e5x-dfll";
				dfll_run_in_standby_en = <1>;
				dfll_en = <1>;
				dfll_src_gclk = "gclk2";
			};

			fdpll: fdpll {
				compatible = "microchip,sam-d5x-e5x-fdpll";
				fdpll0 {
					subsystem = <CLOCK_MCHP_FDPLL_ID_FDPLL0>;
					fdpll_divider_ratio_int = <3661>;
					fdpll_divider_ratio_frac = <3>;
					fdpll_src = "gclk2";
					fdpll_lock_bypass_en = <1>;
					fdpll_run_in_standby_en = <0>;
					fdpll_en = <1>;
					fdpll_wakeup_fast_en = <1>;
				};
			};

			rtcclock: rtcclock {
				compatible = "microchip,sam-d5x-e5x-rtc";
				#clock-cells = <1>;
			};

			osc32k: osc32k {
				compatible = "microchip,sam-d5x-e5x-osc32k";
				osc32k_32khz_en = <1>;
				osc32k_xtal_en = <1>;
				osc32k_startup_time = <62>;
				osc32k_run_in_standby_en = <1>;
				osc32k_gain_mode = "standard";
				osc32k_en = <1>;
			};

			gclkgen: gclkgen {
				compatible = "microchip,sam-d5x-e5x-gclkgen";

				gclkgen2 {
					subsystem = <CLOCK_MCHP_GCLKGEN_ID_GEN2>;
					gclkgen_div_factor = <1>;
					gclkgen_run_in_standby_en = <1>;
					gclkgen_src = "osc32k";
					gclkgen_en = <1>;
				};

				gclkgen1 {
					subsystem = <CLOCK_MCHP_GCLKGEN_ID_GEN1>;
					gclkgen_div_factor = <1>;
					gclkgen_run_in_standby_en = <1>;
					gclkgen_pin_output_en = <1>;
					gclkgen_src = "xosc1";
					gclkgen_duty_50_50_en = <1>;
					gclkgen_en = <1>;
				};

				gclkgen0 {
					subsystem = <CLOCK_MCHP_GCLKGEN_ID_GEN0>;
					gclkgen_div_factor = <1>;
					gclkgen_run_in_standby_en = <1>;
					gclkgen_src = "fdpll0";
					gclkgen_en = <1>;
				};
			};

			gclkperiph: gclkperiph {
				compatible = "microchip,sam-d5x-e5x-gclkperiph";
				#clock-cells = <1>;

				sercom2 {
					subsystem = <CLOCK_MCHP_GCLKPERIPH_ID_SERCOM2_CORE>;
					gclkperiph_src = "gclk0";
					gclkperiph_en = <1>;
				};

				sercom1 {
					subsystem = <CLOCK_MCHP_GCLKPERIPH_ID_SERCOM1_CORE>;
					gclkperiph_src = "gclk0";
					gclkperiph_en = <1>;
				};
			};

			mclkcpu: mclkcpu {
				compatible = "microchip,sam-d5x-e5x-mclkcpu";
				mclk_cpu_div = <1>;
			};

			mclkperiph: mclkperiph {
				compatible = "microchip,sam-d5x-e5x-mclkperiph";
				#clock-cells = <1>;

				sercom2 {
					subsystem = <CLOCK_MCHP_MCLKPERIPH_ID_APBB_SERCOM2>;
					mclk_en = <1>;
				};

				sercom1 {
					subsystem = <CLOCK_MCHP_MCLKPERIPH_ID_APBA_SERCOM1>;
					mclk_en = <1>;
				};

				dmac {
					subsystem = <CLOCK_MCHP_MCLKPERIPH_ID_AHB_DMAC>;
					mclk_en = <1>;
				};
			};
		};

		sercom0: sercom@40003000 {
			compatible = "microchip,sercom-g1";
			status = "disabled";
			reg = <0x40003000 0x31>;
			interrupts = <46 0>, <47 0>, <48 0>, <49 0>;
			clocks = <&mclkperiph CLOCK_MCHP_MCLKPERIPH_ID_APBA_SERCOM0>,
				 <&gclkperiph CLOCK_MCHP_GCLKPERIPH_ID_SERCOM0_CORE>;
			clock-names = "mclk", "gclk";
		};

		sercom1: sercom@40003400 {
			compatible = "microchip,sercom-g1";
			status = "disabled";
			reg = <0x40003400 0x31>;
			interrupts = <50 0>, <51 0>, <52 0>, <53 0>;
			clocks = <&mclkperiph CLOCK_MCHP_MCLKPERIPH_ID_APBA_SERCOM1>,
				 <&gclkperiph CLOCK_MCHP_GCLKPERIPH_ID_SERCOM1_CORE>;
			clock-names = "mclk", "gclk";
		};

		pinctrl: pinctrl@41008000 {
			compatible = "microchip,port-g1-pinctrl";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x41008000 0x41008000 0x200>;

			porta: gpio@41008000 {
				reg = <0x41008000 0x80>;
			};

			portb: gpio@41008080 {
				reg = <0x41008080 0x80>;
			};

			portc: gpio@41008100 {
				reg = <0x41008100 0x80>;
			};

			portd: gpio@41008180 {
				reg = <0x41008180 0x80>;
			};
		};

		sercom2: sercom@41012000 {
			compatible = "microchip,sercom-g1";
			status = "disabled";
			reg = <0x41012000 0x31>;
			interrupts = <54 0>, <55 0>, <56 0>, <57 0>;
			clocks = <&mclkperiph CLOCK_MCHP_MCLKPERIPH_ID_APBB_SERCOM2>,
				 <&gclkperiph CLOCK_MCHP_GCLKPERIPH_ID_SERCOM2_CORE>;
			clock-names = "mclk", "gclk";
		};

		sercom3: sercom@41014000 {
			compatible = "microchip,sercom-g1";
			status = "disabled";
			reg = <0x41014000 0x31>;
			interrupts = <58 0>, <59 0>, <60 0>, <61 0>;
			clocks = <&mclkperiph CLOCK_MCHP_MCLKPERIPH_ID_APBB_SERCOM3>,
				 <&gclkperiph CLOCK_MCHP_GCLKPERIPH_ID_SERCOM3_CORE>;
			clock-names = "mclk", "gclk";
		};

		sercom4: sercom@43000000 {
			compatible = "microchip,sercom-g1";
			status = "disabled";
			reg = <0x43000000 0x31>;
			interrupts = <62 0>, <63 0>, <64 0>, <65 0>;
			clocks = <&mclkperiph CLOCK_MCHP_MCLKPERIPH_ID_APBD_SERCOM4>,
				 <&gclkperiph CLOCK_MCHP_GCLKPERIPH_ID_SERCOM4_CORE>;
			clock-names = "mclk", "gclk";
		};

		sercom5: sercom@43000400 {
			compatible = "microchip,sercom-g1";
			status = "disabled";
			reg = <0x43000400 0x31>;
			interrupts = <66 0>, <67 0>, <68 0>, <69 0>;
			clocks = <&mclkperiph CLOCK_MCHP_MCLKPERIPH_ID_APBD_SERCOM5>,
				 <&gclkperiph CLOCK_MCHP_GCLKPERIPH_ID_SERCOM5_CORE>;
			clock-names = "mclk", "gclk";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
