# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_MCHP_SAM_D5X_E5X

rsource "*/Kconfig.defconfig"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/soc/clock@40000800/oscctrl@40001000,dfll_frequency)

endif # SOC_FAMILY_MCHP_SAM_D5X_E5X
