# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_MICROCHIP_SAM_D5X_E5X
	bool

config SOC_FAMILY
	default "microchip_sam_d5x_e5x" if SOC_FAMILY_MICROCHIP_SAM_D5X_E5X

# List of Peripheral IPs available in SOC_FAMILY_MICROCHIP_SAM_D5X_E5X family
if SOC_FAMILY_MICROCHIP_SAM_D5X_E5X

config ADC_MCHP_U2500_1_0_0
	bool
	default y
	help
	  Enable ADC peripheral IP version 1.0.0 (U2500).

config PINCTRL_MCHP_PORT_U2210_2_2_0
	bool
	default y
	help
	  Enable PORT pinctrl peripheral IP version 2.2.0 (U2210).

config UART_MCHP_SERCOM_U2201_5_0_0
	bool
	default y
	help
	  Enable SERCOM UART peripheral IP version 5.0.0 (U2201).

config DMA_MCHP_DMAC_U2503_1_0_1
	bool
	default y
	help
	  Enable DMAC peripheral IP version 1.0.1 (U2503).

config WDT_MCHP_U2251_1_1_0
	bool
	default y
	help
	  The SoC contains Watchdog IP version 1.1.0 (U2251).

config RESET_MCHP_RSTC_U2239_4_0_0
	bool
	default y
	help
	  Enable RESET peripheral IP version 4.0.0 (U2239).

config FLASH_MCHP_NVMCTRL_U2409_1_0_0
	bool
	default y
	help
	  Enable FLASH peripheral IP version 1.0.0 (U2409).

config ENTROPY_MCHP_TRNG_U2242_1_1_0
	bool
	default y
	help
	  Enable ENTROPY peripheral IP version 1.1.0 (U2242).

config GPIO_MCHP_PORT_U2210_2_2_0
	bool
	default y
	help
	  Enable PORT GPIO peripheral IP version 2.2.0 (U2210).

config SPI_MCHP_SERCOM_U2201_5_0_0
	bool
	default y
	help
	  Enable SERCOM SPI peripheral IP version 5.0.0 (U2201).

config INTC_MCHP_EIC_U2254_3_0_0
	bool
	default y
	help
	  Enable EIC peripheral IP version 3.0.0 (U2254).

config RTC_MCHP_U2250_2_1_0
	bool
	default y
	help
	  Enable RTC peripheral IP version 2.1.0 (U2250).

endif # SOC_FAMILY_MICROCHIP_SAM_D5X_E5X

rsource "*/Kconfig.soc"
