# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if BT

config HPA_SUPPORTED
	default y

config FPU
	default y

config MAIN_STACK_SIZE
	default 2048

config IDLE_STACK_SIZE
	default 512

endif # BT

if IEEE802154

config HPA_SUPPORTED
	default y
	
config FPU
	default y
config MAIN_STACK_SIZE
	default 4096
endif # IEEE802154