# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config HPA_SUPPORTED
	default y if BT

if IEEE802154

config HPA_SUPPORTED
	default y

config FPU
	default y

config MAIN_STACK_SIZE
	default 4096

endif # IEEE802154
