/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <microchip/pic32c/pic32cx_bz/bz2x/bz25/pic32cx1012bz25048.dtsi>
#include "wbz451hpe_curiosity-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	model = "Microchip WBZ451HPE Curiosity";
	compatible = "microchip,wbz451hpe-curiosity";

	chosen {
		zephyr,console = &sercom0;
		zephyr,shell-uart = &sercom0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
		zephyr,bt-hci = &bt_hci_microchip;
		zephyr,bt-c2h-uart = &sercom0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&portb 0 GPIO_ACTIVE_HIGH>;
			label = "Red LED 1";
		};
		led1: led_1 {
			gpios = <&portb 3 GPIO_ACTIVE_HIGH>;
			label = "Green LED 1";
		};
		led2: led_2 {
			gpios = <&portb 5 GPIO_ACTIVE_HIGH>;
			label = "Blue LED 1";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&portb 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW0";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		sw0 = &button0;
		rtc = &rtc;
	};
};

&cpu0 {
	clock-frequency = <64000000>;
};


&sercom0 {
	status = "okay";
	compatible = "microchip,sercom-g1-uart";
	rxpo = <1>;
	txpo = <0>;
	current-speed = <115200>;
	pinctrl-0 = <&sercom0_uart_default>;
	pinctrl-names = "default";

	dmas = <&dmac 0 4>, <&dmac 1 5>;
	dma-names = "rx", "tx";
};

&sercom1 {
	status = "okay";
	compatible = "microchip,sercom-g1-i2c";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&sercom1_i2c_default>;
	pinctrl-names = "default";

	dmas = <&dmac 2 6>, <&dmac 3 7>;
	dma-names = "rx", "tx";
};

/* sercom 2 spi master mode */
&sercom2 {
	status = "okay";
	compatible = "microchip,sercom-g1-spi";
	dipo = <3>;
	dopo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom2_spi_master>;
	pinctrl-names = "default";

	dmas = <&dmac 4 8>, <&dmac 5 9>;
	dma-names = "rx", "tx";
};

/* sercom 2 spi slave mode
 *&sercom2 {
 *	status = "okay";
 *	compatible = "microchip,sercom-g1-spi";
 *	dipo = <0>;
 *	dopo = <2>;
 *	#address-cells = <1>;
 *	#size-cells = <0>;
 *
 *	pinctrl-0 = <&sercom2_spi_slave>;
 *	pinctrl-names = "default";
 *
 *	dmas = <&dmac 4 8>, <&dmac 5 9>;
 *	dma-names = "rx", "tx";
 *};
 */

&sercom3 {
	status = "okay";
	compatible = "microchip,sercom-g1-uart";
	rxpo = <2>;
	txpo = <0>;
	current-speed = <115200>;
	pinctrl-0 = <&sercom3_uart_default>;
	pinctrl-names = "default";

	dmas = <&dmac 6 10>, <&dmac 7 11>;
	dma-names = "rx", "tx";
};

&bt_hci_microchip {
	status = "okay";
};

&trng {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			label = "code";
			reg = <0x0 DT_SIZE_K(1024-16)>;  /* Start at 0x01000000, size 1 MB */
			read-only;
		};

		/*
		 * The final 16 KiB is reserved for the application.
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@FC000 {
			label = "storage";
			reg = <0xFC000 0x00004000>;
		};
	};
};

&porta {
	status = "okay";
};

&portb {
	status = "okay";
};

&rtc {
	compatible = "microchip,rtc-g1";
	status = "okay";
	prescaler = <1024>;
	alarms-count = <2>;
	cal-constant = <1048576>;  /*(8192 * 128 = 1048576)*/
};
