/*
 * Copyright (c) 2025 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/pic32c/pic32cx_bz/bz25/pic32cx1012bz25048-pinctrl.h>

&pinctrl {
	sercom0_uart_default: sercom0_uart_default {
		group1 {
			pinmux = <PIN_DIRECT_MODE>;
		};
	};

	sercom3_uart_default: sercom3_uart_default {
		group1 {
			pinmux = <PA14_SCOM3P0_OUT>,
			<PA13_SCOM3P2_IN>;
		};
	};

	sercom2_spi_master: sercom2_spi_master {
		group1 {
			pinmux = <PB4_SCOM2P0_OUT>,
			<PB3_SCOM2P1_OUT>,
			<PB13_SCOM2P2_OUT>,
			<PB5_SCOM2P3_IN>;
		};
	};

	sercom2_spi_slave: sercom2_spi_slave {
		group1 {
			pinmux = <PB4_SCOM2P1_IN>,
			<PB3_SCOM2P0_IN>,
			<PB13_SCOM2P2_IN>,
			<PB5_SCOM2P3_OUT>;
		};
	};

	sercom1_i2c_default: sercom1_i2c_default {
		group1 {
			pinmux = <PIN_DIRECT_MODE>;
		};
	};
};
