# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config UART_MCHP_SERCOM_G1
	bool "Microchip SERCOM G1 UART driver"
	default y
	depends on DT_HAS_MICROCHIP_SERCOM_G1_UART_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL_SUPPORT_ASYNC
	select PINCTRL
	help
	  This option enables UART driver support for SERCOM group 1 (G1) peripherals.

config UART_MCHP_ASYNC
	bool "Async UART support for Microchip UART Peripheral"
	depends on UART_MCHP_SERCOM_G1
	depends on UART_ASYNC_API
	depends on DMA
