# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_WBZ450_CURIOSITY
	select SOC_PIC32CX1012BZ24032

choice FUSES_DEVCFG1_SCOM0_HSEN
	default FUSES_DEVCFG1_SCOM0_HSEN_DIRECT if $(dt_nodelabel_enabled_with_compat,sercom0,$(DT_COMPAT_MICROCHIP_SERCOM_G1_UART))
endchoice
