# SPDX-License-Identifier: Apache-2.0
# OpenOCD config for SAME51 Curiosity Nano via on-board EDBG (CMSIS-DAP)

source [find interface/cmsis-dap.cfg]
set CHIPNAME atsame51j20a
source [find target/atsame5x.cfg]

transport select swd
reset_config srst_only
adapter speed 2000

init
targets
reset halt
